<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit campground</title>
  </head>
  <body>
    <a href="/campgrounds/<%= camp._id %>">Go Back</a>
    <h1>Edit a the ground</h1>
    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post">
      <div>
        <label for="title">Enter title here: </label>
        <input
          type="text"
          id="title"
          value="<%= camp.title %>"
          name="campground[title]"
        />
      </div>
      <div>
        <label for="location">Enter location here:</label>
        <input
          type="text"
          id="location"
          value="<%= camp.location %>"
          name="campground[location]"
        />
      </div>
      <button>Save edits</button>
    </form>
  </body>
</html>
